<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BBPS4 目押し練習機</title>
    <style th:include="simulator/index :: style">
    </style>
    <script th:inline="javascript" th:object="${formModel}">
        let count_value = 0;
        let switch_1 = true;
        let power = /*[[*{power}]]*/;
        let rate = /*[[*{rate}]]*/;
        let secondrate = rate/60;
        

        window.onload = function() {
            document.getElementById('dps').innerText = "秒間" + secondrate + "発" 
                                                       + "\n秒間火力:" + power*secondrate + "（理論値）";
        }

        count_up_btn = function() {
            setTimeout(endcount, 5000);
            let counter = document.getElementById("counter");
            if(switch_1 == true) {
                count_value += 1;
                counter.style.backgroundColor = "#ff4500";
                switch_1 = false;
                setTimeout(
                    function() {
                        switch_1 = true;
                        counter.style.backgroundColor = "";
                    },1000/secondrate);
            }
            document.getElementById("disp_count").innerText = count_value;
        };

        function endcount() {
            switch_1 = false;
            var res = parseInt(count_value * power);
            document.getElementById("result").innerHTML = "計測秒間火力: " + res/5;
        };

    </script>
</head>
<body>
    <div th:include="simulator/index :: header"></div>
    <h1>連射測定</h1>
    <p>計測時間：５秒</p>
    
    <table th:object="${formModel}">
        <tr><th>武装名</th><td th:text="*{name}"></td></tr>
        <tr><th>単発火力</th><td th:text="*{power}"></td></tr>
        <tr><th>連射間隔</th><td th:text="*{rate}"></td></tr>
    </table>
    <div>
        <p id="dps">dps</p>
    </div>
    <div id="disp_count">0</div>
    <button onclick="count_up_btn()" id="counter" style="width: 150px; height: 100px;">ここをクリック</button>
    <p id="result">ここに結果を表示</p>
</body>
</html>